.loggedOutBackground {
  background-image: url('../../../public/assets/images/loggedOutPic.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
}

.loggedInBackground {
  background-image: url('../../../public/assets/images/loggedInBackgroundPic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 102%;
  margin-left: -10px;
  margin-bottom: -10px;
  height: 120vh;
  overflow: hidden;
}
.bammContainer{
  display: flex;
  margin-top: 50px;
  width: 100%;
  height: 300px;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.6);
  /* position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%; */
}
.planningPic{
  height: 300px;
  width: 45%;
  object-fit: cover;
  object-position: bottom;
}
.bamm{
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 65%;
}
.logo{
  height:100px;
  width: fit-content;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  margin-top: 110px;
}
.bammPics{
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
}
.bammPicsTop, .bammPicsBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bammPicsTop{
  padding-bottom: 15px;
}
.bammTravel, .bammTravelMelvin, .bammTravelBobby{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.bammTravelMelvin{
  object-position: right;
}
.bammTravelBobby{
  object-position: 25% 25%;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading{
  margin-bottom: 0;
}

.loggedOutContainer {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}

.loggedOutButtonContainer {
  display: flex;
  flex-direction: column;
}

.landingButton {
  width: 50%;
  align-self: center;
}

@media only screen and (max-width: 1300px) {
  .bammPics{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
  }
  .bammPicsTop, .bammPicsBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .bammPicsTop{
    padding-bottom: 15px;
  }
  .bammTravel, .bammTravelMelvin, .bammTravelBobby{
    width: 40%;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .bammTravelMelvin{
    object-position: right;
  }
  .bammTravelBobby{
    object-position: 25% 25%;
  }
}