.loggedInBackground {
  background-image: url('../../../public/assets/images/loggedInBackgroundPic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200vh;
  overflow: hidden;
  background-attachment: fixed;
  z-index: -1;
}
.landingContainer{
  position: absolute;
}
.bammContainer{
  display: flex;
  margin-top: 50px;
  width: 100%;
  height: 300px;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.6);
}
.planningPic{
  height: 300px;
  width: 45%;
  object-fit: cover;
  object-position: bottom;
}
.bamm{
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 65%;
}
.logo{
  height:100px;
  width: fit-content;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  margin-top: 110px;
}
.bammPics{
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
}
.bammPicsTop, .bammPicsBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bammPicsTop{
  padding-bottom: 15px;
}
.bammTravel, .bammTravelMelvin, .bammTravelBobby{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.bammTravelMelvin{
  object-position: right;
}
.bammTravelBobby{
  object-position: 25% 25%;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading{
  margin-bottom: 0;
}

.loggedOutBackground {
  background-image: url('../../../public/assets/images/loggedOutBackgroundPic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: 0 50px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: -50px;
  /* background-position-x: right;
  background-position-y: bottom; */
}

.loggedOutContainer {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 255, 0.187); */
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  max-width: 500px;
  background-color: rgba(213, 213, 213, 0.72);
  box-shadow: 0 14px 28px rgba(96, 96, 96, 0.25), 0 10px 10px rgba(96, 96, 96, 0.15);  
}

.loggedOutButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.landingButton {
  align-self: center;
}

.box {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 20px;
  gap: 40px;
}

.header {
  margin: 0 0 15px 0;
}

.box > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .one {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.two {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.three {
  display: flex;
  flex-direction: column;
  align-items: center;

} */

@media only screen and (max-width: 1300px) {
  .bammPics{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
  }
  .bammPicsTop, .bammPicsBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .bammPicsTop{
    padding-bottom: 15px;
  }
  .bammTravel, .bammTravelMelvin, .bammTravelBobby{
    width: 40%;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .bammTravelMelvin{
    object-position: right;
  }
  .bammTravelBobby{
    object-position: 25% 25%;
  }
}