.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 120px;
  padding-top: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 500px;
}
.form{
  width: 70%;
}
.links{
  text-align: center;
}
.links> a{
  padding-right: 20px;
}
.links>a, .links>a:visited{
  color: #567189;
}
.title {
  text-align: center;
}

.input{
  margin: 0;
  margin-left: 7px;
  border: none;
  padding: 5px;
}

.input:focus{
  outline: none;
}

