.flightContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #567189;
  margin: 0 30px 20px 30px;
}
.flightTitle {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.flightCost {
  display: flex;
  width: 70%;
  justify-content: right;
}
h2 {
  margin-bottom: 0;
}
.container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
.table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  width: 95%;
}
.th,
.td {
  border: 1px solid rgb(189, 189, 189);
  padding: 15px 10px;
  width: fixed;
}

.button {
  text-align: right;
  padding: 0;
}
.tbody {
  display: flex;
}

.th:last-child {
  border-top: none;
  border-right: none;
  border-bottom: none;
  width: 60px;
}
.td:last-child {
  border-top: none;
  border-right: none;
  border-bottom: none;
  width: 60px;
}

@media screen and (max-width: 500px) {
  .flightContainer {
    margin: 5px;
  }

  .th {
    inline-size: auto;
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 15px;
  }
}
