.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.toggleFormContainer {
  display: flex;
  justify-content: center;
}
.toggleContainer{
  width: 300px;
}
.input{
  margin: 0;
}
.select{
  width: 300px;
  padding: 7px;
  font-size: 14px;
}