.navContainer{
  display: flex;
  flex-direction: row;
  background-color: #474962;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
.linkContainer{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  padding: 16px 16px 16px 0px;
}
.links{
  display: flex;
}
.profile{
  display: flex;
  text-align: right;
  align-items: center;
}
.li > a, .li> a:visited{
  text-decoration: none;
  color: #C9BB8D;
}
li{
  margin-left: 10px;
}
.logo{
  width: 50px;
  margin-left: 10px;
}

.menuIcon{
  color: #E3D6B2;
}
.loggedIn, .loggedIn:visited{
  text-decoration: none;
  color: #567189;
}