
.navContainer{
  display: flex;
  flex-direction: row;
  background-color: #567189;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
.linkContainer{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  padding: 16px 16px 16px 0px;
}
.links{
  display: flex;
}
.profile{
  display: flex;
  text-align: right;
}
.navContainer > a, a:visited{
  text-decoration: none;
  color: #f8f4ea;
}
li{
  margin-left: 10px;
}
.logo{
  width: 50px;
  margin-left: 10px;
}
#button{
  padding: 0;
}
