.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  overflow-x: hidden;
}

.cost{
  display: flex;
  width: 500px;
  justify-content: space-between;
}


.container > ul {
  list-style: none;

}
.table{
  margin-top: 20px;
  table-layout: auto;
  border-collapse:collapse;
  text-align: left;
  width: 800px;
}
.th{
  border-right: 2px solid #7b8fa1;
  border-top: 2px solid #7b8fa1;
  padding-left: 10px;
}
.th:nth-child(1){
  width: 50%;
}
.th:nth-child(2){
  width: 25%;
}
.th:nth-child(3){
  width: 25%;
}
.td{
  border-right: 2px solid #7b8fa1;
  padding-left: 30px;
  padding-top: 10px;
}
.td:nth-child(3), th:nth-child(3){
  border-right: none;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.flightSection{
  width: 95%;
}

.flightTitle{
  background-color: #7b8fa1;
  color: rgb(255, 255, 255);
  border: 3px solid #567189;
  padding: 5px 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.accommodationSection{
  width: 95%;
  margin-top: 20px;
}
.accommodationtTitle{
  background-color: #7b8fa1;
  color: rgb(255, 255, 255);
  border: 3px solid #567189;
  padding: 5px 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.activityTitle{
  background-color: #7b8fa1;
  color: rgb(255, 255, 255);
  border: 3px solid #567189;
  padding: 5px 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.activitySection{
  width: 95%;
  margin-top: 20px;
}

.formData {
  display: flex;
  flex-direction: row;
  width:  100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.over{
  color: red;
}
.loading{
  padding-top: 30px;
  padding-left: 20px;
}