.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.container > ul {
  list-style: none;

}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

