.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 60px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 300px;
}
.pic{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.overlayText{
  position: absolute;
  background-color: rgba(24, 40, 58, 0.6);
  border-radius: 7px;;
  padding: 35px;
  text-align: center;
  margin: 15%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  opacity: 0;
  transition: opacity 0.3s;
}
.overlayText:hover{
  opacity: 1;
}