.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 60px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 300px;
}
.pic{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.overlayText{
  position: absolute;
  background-color: rgba(24, 40, 58, 0.5);
  border-radius: 7px;;
  padding: 5px 15px;
  text-align: center;
  margin: 10%;
  overflow: hidden;
}
.title{
  margin: 5px;
}