input {
  margin-left: 7px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

input[type="file"] {
  padding: 0;
}

input:focus{
  outline: none;
}

.container {
  background-image: url('../../assets/images/loggedOutBackgroundPic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -50px;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.message {
  margin-top: 0;
  height: 20px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.labelPhoto {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  margin-left: 16px;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}

