*,
*::before,
*::after {
  box-sizing: inherit;
}
html, body, .root{
  min-height: 100%;
  margin: 0;
}
body {
  box-sizing: border-box;

  margin-top: 40px;
  /* min-height: 100vh; */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #567189;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
}

nav > ul {
  margin: 0;
  
}

/* #root{
  display: flex;
} */

.css-18rm664-MuiButtonBase-root-MuiIconButton-root {
  padding: 0 10px !important;
  /* background-color: white !important; */
  /* border: 1px solid black !important; */
  border-radius: 7px !important;
  width: 40px !important;
  height: 40px !important;
  margin: 0 5px !important;
}

.css-18rm664-MuiButtonBase-root-MuiIconButton-root:hover {
  box-shadow: 1px 1px 15px #E3D6B2 !important;
}

#file-upload-button{
  background-color: #567189 !important;
}
::-webkit-scrollbar {
  width:10px;
  /* background-color: #7b8fa1; */
  background-color: #567189;
}
::-webkit-scrollbar-thumb {
  /* background-color: #7b8fa1; */
  background-color: #E3D6B2;
  border-radius: 10px;
}