.accommodationContainer{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #567189;
}

.title{
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.accommodationCost{
  display: flex;
  width: 40%;
  justify-content:right;
}

.subtitle{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.table{
  margin-top: 20px;
  table-layout: auto;
  border-collapse:collapse;
  text-align: left;
  width: 100%;
}

.th, .td{
  border: 1px solid rgb(189, 189, 189);
  padding: 15px 10px;
}

.button{
  margin-top: 0;
}