.main {
  background-image: url('../../assets/images/editActivity.jpg');
  height: 100vh;
  margin-top: -100px;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 120px;
  width: 500px;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 120px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 500px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.75);
}

.title {
  text-align: center;
}

.hidden {
  display: none;
}

.toggleFormContainer {
  display: flex;
  justify-content: center;
}
.toggleContainer {
  width: 300px;
}
.input {
  margin: 0;
  margin-left: 7px;
  border: none;
  padding: 5px;
}
.input:focus {
  outline: none;
}
.select {
  width: 300px;
  margin-left: 7px;
  border: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
}
.select:focus {
  outline: none;
}
